<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Selenium_Framework_Automation_Suite" verbose="1">
    <listeners>
        <listener class-name="com.rbhatt.selenium.TestComponents.Listeners"/>
    </listeners>
    <test thread-count="5" name="Submit Product Order Test">
        <classes>
            <class name="com.rbhatt.selenium.tests.StandaloneTestPO"/>
        </classes>
    </test>
    <test thread-count="5" name="Error Validations">
        <classes>
            <class name="com.rbhatt.selenium.tests.ErrorValidationsTest"/>
        </classes>
    </test>
</suite>